docs_dir: "ghpages/docs"
site_name: Venci na Promo
site_author: Grupo GPT - 2023.1 - Requisitos de Software - FGA - UnB
copyright: |
  &copy; 2023.1 <a href="https://mdsreq-fga-unb.github.io/2023.1-VenciNaPromo.git"  target="_blank" rel="noopener">Grupo GPT - 2023.1 - Requisitos de Software - FGA - UnB</a>

theme:
  name: material
  language: pt-BR
  features:
    - navigation.tabs
    - navigation.top
    - navigation.tabs.sticky
  icon:
    repo: fontawesome/brands/git-alt
  # logo: "icon-640.png"
  # favicon: "favicon-640.png"
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: indigo
      accent: indigo
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: indigo
      accent: indigo

nav:
  - Início: "index.md"
  - Documentação:
      - Visão do Produto e Projeto: "projeto/visao.md"
      - Processo de Engenharia de Requisitos: "projeto/processoER.md"
      - Backlog do Produto: "projeto/backlog.md"
      - Definição dos MVP's: "projeto/mvp.md"
      - URPS+: "projeto/nao-fun.md"
      - Arquitetura: "projeto/arquitetura.md"
  - Entregas:
      - Unidade 1:
          - Visão Geral do Produto: "entregas/produto-entrega-1.md"
          - Material do Seminário XP: "entregas/seminario-1.md"
      - Unidade 2: "entregas/unidade-2.md"

repo_url: https://github.com/mdsreq-fga-unb/2023.1-VenciNaPromo
repo_name: mdsreq-fga-unb.github.io/2023.1-VenciNaPromo

markdown_extensions:
  - pymdownx.emoji
  - pymdownx.tasklist
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
