.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  font-family: 'Baloo', sans-serif;
  width: calc(100% - 250px);
}
.header-left {
  color: #845c5c;
  font-size: 40px;
  text-align: left;
  width: 500px;
  display: flex;
  justify-content: flex-start;
  margin-left: 80px;
  margin-top: 15px;
}
.header-right ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 1100px;
  font-size: 25px;
  margin-top: -45px
}
.header-right li:not(:last-child) {
  margin-right: 30px;
}
.header-right li {
  margin-left: 10px;
}

.header-right a {
  color: #000000;
  text-decoration: none;
}
.header-right a:hover {
  color: #845c5c;
}
