.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    height: 100vh;
    width: 78%;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: auto;
    background: #F5B396;
    border-radius: 40px;
    padding: 20px;
    margin: 0 auto;
}

.home-info {
  margin-top: -35px;
}

.app-button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 30px;
  background-color: rgba(36, 0, 255, 0.60);
  cursor: pointer;
  font-family: 'Baloo';
  color: white;
}

.home-text p {
    font-family: 'Baloo';
    font-size: 25px;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin: 10px;
    text-align: justify;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

@media screen and (max-width: 767px) {
    .home-container {
      margin-top: 20px;
    }
  
    .image-container {
      max-width: 90%;
    }
  
    .app-button {
      font-size: 20px;
    }
  
    .home-text {
        font-size: 20px;
      }
}