.product-detail-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    width: calc(95% - 290px);
    margin-left: 30px;
    margin-right: 30px;
}

.product-detail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #F5B396;
    border-radius: 12px;
    width: 50%;
    height: 60%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.product-detail img {
    background-color: #ffffff;
    width: 40%;
    height: 45%;
    margin-bottom: 10px;
    border-radius: 8px;
    object-fit: contain;
}

.black-and-white-card {
    filter: grayscale(100%);
}

.product-detail-title {
    color: #000;
    margin: 0;
    font-size: 18px;
}

.product-detail-description {
    width: 100%;
    height: 30%;
    overflow-y: scroll;
    text-align: left;
    color: #845C5C;
    margin: 0;
    font-size: 14px;
}

.product-detail-store {
    text-align: left;
    color: #845C5C;
    margin: 0;
    font-size: 12px;
}

.product-detail-quantity {
    position: absolute;
    bottom: 2%;
    text-align: left;
    color: #845C5C;
    margin: 0;
    font-size: 12px;
}



.product-detail-price {
    text-align: right;
    position: absolute;
    right: 18px;
    bottom: 2%;
    color: #000;
    margin: 0;
    font-size: 32px;
}

.popup-close-button {
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 3%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    border: 2px solid #845C5C;
    background-color: #4C2FFF;
    font-family: 'Baloo';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
}