.shopping-list-container {
    display: grid;
    background-color: #fff;
    width: calc(95% - 290px);
    margin-left: 30px;
    margin-right: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

.product-in-list {
    cursor: pointer;
    padding: 20px;
    background-color: #F5B396;
    border-radius: 12px;
    width: 200px;
    height: 250px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.product-in-list-button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    width: auto;
}

.product-in-list img {
    width: 100%;
    height: 55%;
    margin-bottom: 10px;
    border-radius: 8px;
}

.product-in-list h3 {
    color: #282c34;
    margin: 0;
    font-size: 18px;
}

.product-in-list p {
    color: #845C5C;
    margin: 0;
    font-size: 14px;
}

.product-detail-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    width: calc(95% - 290px);
    margin-left: 30px;
    margin-right: 30px;
}

.product-detail {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #F5B396;
    border-radius: 12px;
    width: 300px;
    height: 375px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.product-detail img {
    width: 100%;
    height: 55%;
    margin-bottom: 10px;
    border-radius: 8px;
}

.product-detail-title {
    color: #000;
    margin: 0;
    font-size: 18px;
}

.product-detail-text-box {
    width: 100%;
    height: 20%;
    overflow-y: scroll;
    text-align: left;
    color: #845C5C;
    margin: 0;
    font-size: 12px;
}

.product-detail-store {
    text-align: left;
    color: #845C5C;
    margin: 0;
    font-size: 12px;
}

.product-detail-quantity {
    text-align: left;
    color: #845C5C;
    margin: 0;
    font-size: 12px;
}

.product-detail-description {
    text-align: left;
    color: #845C5C;
    margin: 0;
    font-size: 14px;
}

.product-detail-price {
    text-align: right;
    position: fixed;
    right: 18px;
    bottom: 10px;
    color: #000;
    margin: 0;
    font-size: 32px;
}

.product-detail-button {
    position: fixed;
    left: 18px;
    bottom: 18px;
    background-color: rgba(36, 0, 255, 0.60);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 3px 20px;
    width: auto;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
}

.close-button {
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
}
.new-product-container {
	width: calc(95% - 290px);
	display: flex;
	justify-content: right;
	margin-bottom: 10px;
}

.new-product-button {
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	background-color: rgba(36, 0, 255, 0.60);
	cursor: pointer;
	font-family: 'Baloo';
	color: white;
	border-radius: 8px;
	width: 100%;
	max-width: 210px;
}
.modal-close-button {
	cursor: pointer;
	position: absolute;
	top: 3%;
	right: 3%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 20px;
	background-color: #4C2FFF;
	font-family: 'Baloo';
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	border: none;
}
.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	background-color: white;
	border-radius: 12px;
	width: 30%;
	height: 70%;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
	border: 10px solid #F5B396;
	overflow: hidden;
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.new-product-form {
	flex: 1;
	padding: 25px;
	width: 300px;
	margin-top: -60px;
}
.form-field {
	border: none;
	border-bottom: 3px solid #845C5C;
	background-color: transparent;
	outline: none;
	width: 400px;
	margin-bottom: 12px;
	padding-top: 5px;
	padding-bottom: 10px;
	font-family: 'Baloo';
	color: rgba(0, 0, 0, 0.60);
	font-size: 20px;
}

.form-field::placeholder {
	font-family: "Baloo", sans-serif;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.60);
}
.h3-modal {
	text-align: center;
	align-items: center;
	display: flex;
	margin-left: 90px;
}
.button-add {
	margin-top: 40px;
	margin-left: 90px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	background-color: rgba(36, 0, 255, 0.60);
	cursor: pointer;
	font-family: 'Baloo';
	color: white;
	border-radius: 8px;
	width: 150px;
	height: 40px;
}
.form-label {
	border: none;
	outline: none;
	width: 400px;
	margin-right: 210px;
	font-family: 'Baloo';
	color: rgba(0, 0, 0, 0.60);
	font-size: 20px;
}